<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="uap uap10">

  <Identity
    Name="FernandoCovecino.MarkupPM"
    Publisher="CN=15FD663E-D585-410B-9B3C-C709530D3E9F"
    Version="1.0.1.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>MarkupPM</DisplayName>
    <PublisherDisplayName>Fernando Covecino</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="es-ES" />
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="appContainer">
      <uap:VisualElements
        DisplayName="MarkupPM"
        Description="Gestión de proyectos con archivos Markdown"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="markdownfile">
            <uap:SupportedFileTypes>
              <uap:FileType>.md</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>MarkupPM Project</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
